# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# 仮想環境
.venv/
venv/

# 環境変数ファイル
.env
.env.*

# エディタ/IDE
.vscode/
.idea/
.DS_Store
**/.DS_Store
.cursor/

# テスト/カバレッジ
.coverage
htmlcov/

# その他
uv.lock.bak 